@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Hurricane&display=swap");

:root {
  --main-color: #478ea5;
  --shadow-color: lightblue;
}

.hidden {
  display: none;
  border: none;
  visibility: hidden;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 95%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.content {
  position: absolute;
  height: 80%;
  width: 90%;
  background-color: white;
  box-shadow: 10px 10px 10px var(--shadow-color);
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* left */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.left img {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

.left h3 {
  width: fit-content;
  background-color: #f0f1f3;
  margin-top: 40px;
}
.left li {
  list-style: square;
  margin-bottom: 10px;
}

/* main */
.mainContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.mainContent h3 {
  margin: 0;
}
.mainContent .interest {
  flex: 2;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.mainContent .interest .images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.mainContent .interest img {
  width: 200px;
  height: 200px;
}
.mainContent .future {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #524fa1;
  margin-bottom: 10px;
}
.mainContent .future h3 {
  width: 100%;
  background-color: #524fa1;
  padding: 5px;
  text-align: center;
  color: white;
}
.mainContent .future li {
  list-style: square;
  margin-left: 20px;
}
.mainContent .future .dream {
  width: 35%;
  height: 95%;
  overflow: hidden;
  background-color: #f0f1f3;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10%;
}
.mainContent .future .skill {
  width: 30%;
  height: 95%;
  overflow: hidden;
  background-color: #f0f1f3;
  margin-right: 10px;
  border-radius: 10%;
}
.mainContent .future .expectation {
  width: 35%;
  height: 95%;
  overflow: hidden;
  background-color: #f0f1f3;
  border-radius: 10%;
}
.mainContent .future .expectation p {
  margin-top: 50px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right #clock {
  font-size: 30px;
  width: fit-content;
  margin: 5px auto;
  padding: 5px;
  background-color: #f0f1f3;
  border: 5px double #524fa1;
  border-radius: 10%;
}

.right .toColleagues {
  flex: 1;
  margin: 5px 10px;
  padding: 5px;
}

.right .toMe {
  flex: 2;
  height: 90%;
  margin: 5px 10px;
  border: 3px solid #524fa1;
  border-radius: 10%;
}
.right .toMe h3 {
  text-align: center;
  margin-bottom: 0;
}
